@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
:root{
  --font-family: "Source Code Pro", monospace;
  --color-bg:  #212020;
  --gradient-bar: linear-gradient(90deg, rgba(61, 237, 151, 1) 0%, rgba(130, 238, 226, 1) 100%);
  --gradient-text: linear-gradient(90deg, rgba(61, 237, 151, 1) 0%, rgba(130, 238, 226, 1) 100%);
  --color-main:  #3ded97;
  --color-footer: rgba(69, 70, 72, 1);
}

